.section {
    /*width: min(90%, 1100px);*/
    height: 100vh;
    margin: 0 auto;
}


.section-one-container {
    width: min(90%, 1100px);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.component + .component {
    margin-left: 1em;
}

.component {
    background-color: #f4ede7;
    margin-left: 5em;
    margin-bottom: 1em;
    padding: 1em 0.5em;
    flex-basis: 70px;
    flex-shrink: 0;
    flex-grow: 1;
    border-radius: 0.5em;
    box-shadow: 3px 8px 4px grey;
    height: 450px;
    position: relative;
    top:40px;
}

#add-column {
    height: 200px;
}

.add-column-button {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: var(--primary);
    width: 60%;
    height: 60px;
    padding: 0 1em;
    border-radius: 0.3em;
    box-shadow: inset -2px -3px 5px #e37527;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.add-column-button:hover {
    transform: scale(1.01);
    box-shadow: inset -2px -3px 5px 2px red;
}

.add-icon {
    font-size: 3em;
    color: #421C00;
    text-align: center;
    margin: 0;
    padding: 0;
}